.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  &-container {
    margin: 0 auto;
    padding: 0 4rem;
    position: relative;
  }

  &-title {
    font-size: 7.4rem;
    font-weight: 700;
    // line-height: 1.2;
    margin-bottom: 1rem;
    // max-width: 80rem;
    margin-right: 30rem;
  }

  &-img {
    // height: 100%;
    position: absolute;
    width: 60rem;
    top: 50%;
    // transform: translateY(-50%);
    right: 4rem;
    z-index: -1;
  }
}
