.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  &-container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &-title {
    font-size: 5.8rem;
    font-weight: 700;
    // line-height: 1.2;
    margin-bottom: 1rem;
    max-width: 80rem;
    margin-right: 20rem;
  }

  &-img {
    
  }
}
