.portfolio-project {
  &__img {
    width: 100%;
    height: 40rem;
    transition: transform 0.2s;
    margin-bottom: 1.8rem;

    &:hover {
      transform: scale(0.95);
      cursor: none;
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #979797;
  }
}

.portfolio-project:nth-child(2n) {
  .portfolio-project__img {
    height: 30rem;
  }
}
