.page {
  min-height: 100vh;
  padding: 20rem 10vw;

  &--instagram {
    .page__glow {
      background: #E1306C;
    }

    h1::before {
      background: #E1306C !important;
    }
  }

  &__glow {
    background: #1db954;
    filter: blur(200rem);

    width: 20rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    margin-bottom: 3.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 4rem;
      margin-left: 2rem;
    }
  }

  img {
    border-radius: 6px;

    width: 100%;
  }

  a,
  a:link,
  a:visited {
    color: inherit;
  }

  h1 {
    font-size: 5.4rem;

    position: relative;

    &::before {
      content: "";
      background: #1db954;
      border-radius: 50%;
      filter: blur(5rem);

      width: 12rem;
      height: 12rem;
      position: absolute;
      left: -4rem;
      top: -50%;
      z-index: -1;
    }
  }

  h2 {
    font-size: 4.8rem;

    margin-bottom: 1.6rem;
    margin-top: 2.4rem;
  }

  h3 {
    font-size: 3.6rem;

    margin-bottom: 1.6rem;
    margin-top: 2.4rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;

    margin-bottom: 0.8rem;
  }

  &__tags {
    //margin-bottom: 4.8rem;
  }

  &__tag {
    font-size: 1.8rem;
    color: inherit;
    list-style: none;

    padding: 0.4rem 1.2rem;

    display: inline-block;
  }

  &__list {
    font-size: 1.8rem;

    padding-left: 2.4rem;

    li {
      margin-bottom: 0.8rem;
    }
  }

  .bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }

  &__gallery-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    box-shadow: 0 4rem 8rem #000;
  }
}
