.cursor {
  position: fixed;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #5a5a5a;
  transition: background-color 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.5s;
}

.c-title {
  transform: scale(4);
  background-color: #fff;
  border: none;
  mix-blend-mode: difference;
}

.c-project {
  color: #0a0a0a;
  background-color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border: none;
  transition: height 0.2s, width 0.2s;
}

.c-acc {
  border: none;
  background-color: #0ea5e9;
  z-index: -1;
  transform: translate(-50%, -50%) scale(3);
}
