.cursor {
  position: fixed;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #f8bf4c;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor-inner {
  position: fixed;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f8bf4c;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.c-none {
  height: 0;
  width: 0;
  border: 0;
}

.c-none ~ .cursor-inner {
  display: none;
}

.c-title {
  transform: translate(-50%, -50%) scale(4);
  background-color: #fff;
  border: none;
  mix-blend-mode: difference;
  background-image: url(../../assets/gold2.jpg);
  background-size: cover;
  z-index: -1;
}

.c-project {
  color: #0a0a0a;
  background-color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border: none;
  transition: height 0.2s, width 0.2s;
  background-image: url(../../assets/gold2.jpg);
  background-size: cover;
}

.c-acc {
  border: none;
  background-color: #0ea5e9;
  z-index: -1;
  transform: translate(-50%, -50%) scale(3);
  background-image: url(../../assets/gold2.jpg);
  background-size: cover;
}

.c-mar {
  border: none;
  mix-blend-mode: difference;
  z-index: -1;
  transform: translate(-50%, -50%) scale(3);
  background-size: cover;
}

.html {
  background-color: #e34c26;
}

.css {
  background-color: #264de4;
}
.sass {
  background-color: #c76494;
}

.javascript {
  background-color: #f7df1e;
}

.react {
  background-color: #61dafb;
}

.node {
  background-color: #3c873a;
}

.express {
  background-color: #c07a1e;
}

.mongodb {
  background-color: #47a248;
}

.mongoose {
  background-color: #bb1b28;
}
